body{
  font-family: "Edu TAS Beginner", sans-serif;
}

.back-image{
  background-image: url("../img/wall.png");
}

.back-img{
  background-image: url("../img/cork.png");
}

h1{
  font-size: 60px;
}

/*classi cards*/

.card{
 
  padding: 20px;
  position: relative;
  border-radius: 0;
 
}

img{
  width: 150px;
  
}

.pin-red{
  width: 35px;
  height: 35px;
  position: absolute;
  top: -15px;
  left: 45%;
}

/* classi overlay-img*/

.overlay{
  width: 100vw;
  height: 100vh;
  background-color:rgba( 0,0,0,0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.img-overlay{
  width: 40vw;
  height: 40vh;
  position: relative;
  
}

.overlay-button{
  font-size: 20px;
  padding: 10px 20px;
  position: absolute;
  top: 100px;
  cursor: pointer;

}

.d-none{
  display: none;
}